[submodule "announcer/pure-data"]
	path = announcer/pure-data
	url = https://github.com/pure-data/pure-data
[submodule "announcer/lerp/pd-lib-builder"]
	path = announcer/lerp/pd-lib-builder
	url = https://github.com/pure-data/pd-lib-builder
